<h1>Productos en Tiempo Real</h1>

<ul id="productList">
    {{#each products}}
        <li id="prod-{{id}}">
            <strong>{{title}}</strong> — ${{price}}
        </li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
